{% extends "flatpages/default.html" %}
{% block title %}HTML Editor{% endblock %}

{% block css %}
{{block.super}}

	<link data-name="vs/editor/editor.main" rel="stylesheet" href="/static/monaco-editor/release/dev/vs/editor/editor.main.css">
        <style>

#container {

	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.card .card-body {
     padding: 0.58rem 0.51rem;
}
body {
    color: #eeeeee;
}
</style>
{% endblock %}

{% block content %}
<div class="alert alert-success alert-dismissible" role="alert" style="display:none;margin-bottom: 0;" id="message">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Saved.
</div>

<div class="content-wrapper">
    {% if message %}
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> {{message}}
    </div>
    {% endif %}
    <div class="row">

       <div class="col-lg-12 grid-margin stretch-card">
           
           <div class="card" style="height: 800px;">

              <div class="card-body">
                  <div id="container"></div>
              </div>
           </div>
       </div>

       <div class="col-lg-12 grid-margin stretch-card">
           <div class="card">
              <div class="card-body">
                          <form method="POST" class="post-form" id="mainForm">{% csrf_token %}
                             {{ form.as_p }}
                             <button type="submit" class="save btn btn-default" onclick="update()">Save</button>
                          </form>


              </div>
           </div>
       </div>


    </div>
</div>




{% endblock %}
{% block script %}
	<script src="/static/monaco-editor/jquery.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
	<script>var require = { paths: { 'vs': '/static/monaco-editor/release/dev/vs' } };</script>
	<script src="/static/monaco-editor/release/dev/vs/loader.js"></script>
	<script src="/static/monaco-editor/release/dev/vs/editor/editor.main.nls.js"></script>
	<script src="/static/monaco-editor/release/dev/vs/editor/editor.main.js"></script>




<script>

$(window).bind('keydown', function(event) {
    if (event.ctrlKey || event.metaKey) {
        switch (String.fromCharCode(event.which).toLowerCase()) {
        case 's':
            event.preventDefault();
            pgsql = editor.getValue();
            $("#id_{{edit}}").val(pgsql);
            $.ajax({
               url:'{{request.get_full_path}}',
               type:'post',
               data:$('#mainForm').serialize(),
               success:function(data){
                    //$('#message').slideDown();
                    $('#message').fadeIn(1000);
                    setTimeout(function() { 
                        $('#message').fadeOut(1000); 
                    }, 2000);


               }
            });
            break;
        }
    }
});

var editor = null;
$(document).ready(function() {

   require(["vs/editor/editor.main"], function () {
	editor = monaco.editor.create(document.getElementById('container'), {
		value: $("#id_{{edit}}").text(),
		language: 'html',
		theme: 'vs-dark'
	});

           $(".monaco-editor").css('width', '100%');
           $(".overflow-guard").css('width', '100%');
           $(".slider-mouseover").css('left', '90%');
           $(".editor-scrollable").css('width', '95%');
           $(".card").css('background-color', '#1e1e1e');
           $(".content-wrapper").css('background-color', '#1e1e1e');
   });
   //editor = monaco.editor.getModels()[0];


});

function update(){
   pgsql = editor.getValue();
   $("#id_{{edit}}").val(pgsql);
}

function changeTheme(){
  theme = $("#theme").val();
  monaco.editor.setTheme(theme);
  //$(".card").css('background-color', '#1e1e1e');
  //$(".content-wrapper").css('background-color', '#1e1e1e');
}
</script>

{% endblock %}



