{% extends "base.html" %}
{% block content %}
      <div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft animated animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
              <div>
                <div class="site-heading">
                  <h2 class="section-title">404 UNDER CONSTRUCTION.</h2>
                </div>
                <div class="content">
                  <p>We are working hard to bring to you our great project soon.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight animated animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
            <img class="img-fluid" src="/static/img/feature/banner_img.svg" alt="">
          </div>
        </div>
      </div>
      </div>


{% endblock %}
      <!-- Hero Area End -->